$backgroung-header : rgb(128, 195, 240);
$backgroung-image : url("../images/backgroung.jpeg");
$color1 : rgba(140, 203, 245, 0.904); 
$color2 : rgba(0, 118, 172, 0.836);
$color3 : rgba(0, 64, 94, 0.836);
$color4 : rgba(197, 196, 196, 0.904);
$color5 : rgb(255, 255, 255);

$color6 : rgba(200, 219, 231, 0.719);