.account {
    height: 100vh;
    background-image: $backgroung-image;
    background-attachment: fixed;

    .div-error {
        max-width: 270px;
        border-radius: 20px;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;

        .error {
            color: red;
            font-size: 14px;
            font-weight: 600;
        }
    }

    h1 {
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    button {
        color: rgb(39, 39, 39);
        background-color: $color5;
        border-radius: 10px;
        padding: 10px;
    }



    .div-container {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 0px;
        background-color: $color4;
        border-radius: 20px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.534);
    
        .div-update-btn {
            border: dotted 1px black;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;
            
            span {
                margin: 10px;
            }
            .btn-link {
                color: rgb(39, 39, 39);
                background-color: $color5;
                border-radius: 10px;
                text-decoration: none;
            }

            .btn-link-admin {
                color: $color3;
                background-color: $color1;
                border-radius: 10px;
                text-decoration: none;
                font-weight: 700;
            }
            
        }

        .div-avatar {
            justify-content: center;
            margin: auto;
            padding: 10px;
            img {
                max-width: 200px;
                border-radius: 20px;
                margin: auto;
            }
    
            .icon-edit-avatar {
                font-size: 30px;
                font-weight: bold;
                margin: auto;
                text-align: center;
                .fa-edit{
                    color: rgb(173, 2, 2);
                }
            }
        }
    
        .div-infouser {
            margin: auto;
            padding: 10px;
            min-width: 50%;
            max-width: 100%;

            .container-infouser {
                border-radius: 10px;
                border: dotted 1px black;
                padding: 10px;
            }

            .btn-valid {
                background-color: transparent;
                border: 1px solid rgb(107, 107, 107);
                border-radius: 10px;
                color: rgba(2, 117, 2, 0.781);
                padding: 2px 2px 2px 2px;
                margin: 0 0 0 5px;
            }
            
            .container-name{
                width: 100%;
                
                .name {
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 800;
                }
            }

            .title-p {
                font-weight: 600;
            }
    

    
            input {
                width: 250px;  
            }
      
        }
    }
    






    .updateAvatar {
        display: none;
    }

    .updatePassword {
        display: none;
    }

    .deleteAccount {
        display: none;
    }

    .updateEmail {
        display: none;
    }

    .updateDescription {
        display: none;
    }

    .title-section {
        padding-top: 2px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin: 10px;
        margin-top: 15px;
        border-radius: 20px;
        background-color: $color4;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.534);
    }

    .content-section {
        padding: 10px;
        text-align: left;
        margin: 10px;
        border-radius: 20px;
        background-color: $color4;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.534);

        .warning {
            background-color: rgba(250, 183, 183, 0.808);
            font-weight: 600;
            text-align: center;
            border-radius: 10px;
            padding: 5px;
        }
        
        .info {
            background-color: rgb(255, 221, 157);
            font-weight: 600;
            text-align: left;
            border-radius: 10px;
            padding: 5px;
            margin-top: 15px;
        }

        .p-content-update-email {
            text-align: center;
            input {
                color: black;
                background-color: $color5;
            }
        }

        .p-content-delete-account {
            text-align: center;
        }

        .p-content-update-avatar {
            text-align: center;
             input {
                overflow: hidden;
                background-color: $color5;
             }
        }

        .p-content-update-password{
            text-align: center;
             input {
                 color: black;
                 background-color: $color5;
             }
        }

        .p-content-update-description {
            text-align: center;


        }
    }
}