.admin {
    .div-container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 10px;
        padding: 0px;
        background-color: rgba(187, 187, 187, 0.527);
        border-radius: 20px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.534);
    }
}