.home{
    
    h1 {
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .block-line {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .block-posts {
        background-color: rgba(187, 187, 187, 0.527);
        border-radius: 15px;
        min-width: 60%;
        margin: 5px;
        padding: 5px;
    }

    .block-user {
        background-color: rgba(187, 187, 187, 0.527);
        border-radius: 15px;
        min-width: 30%;
        margin: 5px;
        padding: 5px;
        height: 370px;
    }

    .title {
        text-align: center;
        border-bottom: 1px solid black;
        font-weight: 700;
        font-size: 16px;
    }

    .div-container-posts {

        margin: 5px;
        padding: 5px;

        .entete {
            background-color: rgba(233, 127, 94, 0.541);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            border-radius: 0 20px 0 0; //hg hd bd bg
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.534);

            .g {
                float: left;
                .username {
                    margin-left: 5px;
                    text-transform: uppercase;

                    a {
                        color: #161616;
                        text-decoration: none;
                    }
                }
            }
            .c {
                text-align: center;
            }
            .d {
                float: right;
                margin-right: 10px;
            }

            img {
                width: 30px;
            }
        }

        .corps {
            width: 100%;
            background-color: rgb(255, 255, 255);
            color:#000000;
            font-weight: 600;
            padding: 10px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.534);

            .image-posts {
                text-align: center;
                max-width: 100%;
            }
    
            .content-img {
                display: block;
                text-align: center;
            }
    
            .content {
                display: block;
                font-size: 16px;
                font-weight: normal;
            }
        }

        .footer {
            border-radius: 0 0 0 30px; //hg hd bd bg
            background-color: #ffffff;
            box-shadow: 0px 7px 10px rgba(54, 54, 54, 0.534);
            border-top: solid 1px black;
            padding: 5px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: right;
    
            .footer-post-d {
    
               text-align: right;
               font-size: 16px;
               justify-content: baseline;

               .btn-link {
                background-color: transparent;
                border: none;
                cursor: default;
                .fa-thumbs-up{
                    color: rgb(1, 136, 1);
                }
                .fa-thumbs-down{
                    color: rgb(192, 0, 0);
                }
                .fa-cog{
                    color: gray;
                }
                .fa-comment-alt{
                    color: rgb(0, 80, 104);
                }
            }
            }
        }
    }

    .div-container-user {
        margin: 5px;
        padding: 5px;
        text-align: center;
        line-height: 1em;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;

        img {
            max-width: 200px;
            border-radius: 20px;
        }

        a {
            color: #161616;
            text-decoration: none;
            font-size: 14px;
            font-weight: 600;
            font-style: italic;
        }
    }
}