.posts {
    .addEnteteNewPost {
        background-color: rgba(233, 127, 94, 0.541);
        color:#5c5c5c;
        font-weight: 600;
        padding: 10px;
        margin-top: 15px;
        border-radius: 0 30px 0 0; //hg hd bd bg
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.534);
        font-style: italic;

        a {
            font-size: 18px;
            padding: 8px;
            .fa-thumbs-up{
                color: rgb(1, 136, 1);
            }
            .fa-thumbs-down{
                color: rgb(192, 0, 0);
            }
            .fa-trash-alt{
                color: gray;
            }
        }
    }

    .addContainerCorpsNewPost {
        width: 100%;
        background-color: rgb(255, 255, 255);
        color:#000000;
        font-weight: 600;
        padding: 10px;
        border-radius: 0 0 0 30px; //hg hd bd bg
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.534);

        .image-posts {
            text-align: center;
            max-width: 180px;
        }

        .content-img {
            display: block;
            text-align: center;
        }

        .content {
            display: block;
            font-size: 16px;
            font-weight: normal;
        }

        .updatePost {
            display: none;

            .sectionUpdate {
                display: block;
                align-items: center;
                border-radius: 15px;
                background-color: rgba(207, 207, 207, 0.63);
                padding: 10px;

                #updateImgPost {
                    width: 100%;
                    border: 1px solid #ccc;
                    background-color: rgb(255, 255, 255);
                }

                textarea {
                    width: 100%;
                    height: 100px;
                    box-sizing: border-box;
                    border: 2px solid #ccc;
                    border-radius: 4px;
                    background-color: #f8f8f8;
                    font-size: 16px;
                    resize: none;
                    white-space: pre-wrap;
                  }

                  .btn-deletepost {
                      margin-left: 10px;
                  }

                  .update-title {
                    font-size: 18px;
                    font-weight: 600;
                    border-bottom: 1px solid black;
                  }
            }
        }

        .addCorpsNewPost{
            width: 100%;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            textarea {
                width: 100%;
                height: 100px;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                background-color: #f8f8f8;
                font-size: 16px;
                resize: none;
                margin: 5px;
              }

              input {
                width: 100%;
                border: 1px solid #ccc;
                padding: 0px;
                border-radius: 4px;
                background-color: #ffffff;
                font-size: 16px;
                margin: 5px;
              }
        }
    }
}
