.signup {
    height: 100vh;
    background-image: $backgroung-image;
    background-attachment: fixed;
    
    h1 {
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    button {
        color: rgb(39, 39, 39);
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 10px;
    }

    .container-signup{
        background-color: $color6;
        border-radius: 20px;
        padding: 10px;
    }

    .info {
        background-color: rgba(255, 221, 157, 0.842);
        text-align: left;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;

        .title {
            font-weight: 600;
        }
    }
}