.users {
    height: 100vh;
    background-image: $backgroung-image;
    background-attachment: fixed;

    button {
        color: rgb(39, 39, 39);
        border-radius: 10px;
        padding: 10px;
    }

    .div-container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 10px;
        padding: 0px;
        background-color: $color4;
        border-radius: 20px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.534);
    }

    .div-avatar {
        flex-wrap: wrap;
        text-align: center;
        max-width: 200px;
        padding: 10px;
        color: rgba(75, 116, 116, 0.753);

        img {
            max-width: 200px;
            border-radius: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    }

    .div-infouser {
        flex-wrap: wrap;
        padding: 10px;
        margin-left: 15px;

        .name {
            font-size: 16px;
            font-weight: 800;
            text-transform: uppercase;
        }

        .title-p {
            font-weight: 600;
        }
    }
}