.header {
    width: 100%;
    background-color: $backgroung-header;
    border-bottom: solid 4px $color2;
    /* logo */

    .logo{
      text-align: center;
        img {
            max-width: 180px;
            margin-top: 23px;
        }
    }

    .nav-link{
      color:$color3;
      font-size:30px;
      max-width: 100px;
      text-decoration:none;
    }
    .nav-link:hover{
        color:$color2;
        font-size:30px;
        text-decoration:none;
    }

}