.header {
    width: 100%;
    background-color: $backgroung-header;
    border-bottom: solid 4px $color2;
    /* logo */

    .logo{
      text-align: center;
      margin: auto;
        img {
            max-width: 250px;
            margin-top: 10px;
        }
    }
}