.login {
    width: 350px;
    background-color: rgb(175, 175, 175);

    .login-title{
        padding: 5px;
        text-align: center;
        font-size: 18px;
        background-color: rgb(247, 194, 96);
        color: black;
    }

    .login-container{
        padding: 5px;
        text-align: center;
        font-size: 14px;
        background-color: rgb(252, 219, 181);
        color: black;
    }
}